@import "../../global.scss";

.profileList {
    width: 100%;
    font-size: 17px;
    margin: 15px 30px 15px 0;
    padding: 4px 0 4px 30px;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    font-weight: 900;
    list-style: none;

    @include mobile{
        font-size: 12px;
        margin-left: -20px;
        margin-right: 0;
        margin-bottom: 3px;
        margin-top: 12px;
        padding: 3px 22px;
    }

    &.active{
        background-color: white;
        color: $mainColor1;
    }
}
